USE [master]
GO
/****** Object:  Database [meetings]    Script Date: 6/21/2023 1:13:40 PM ******/
CREATE DATABASE [meetings]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'meetings', FILENAME = N'/var/opt/mssql/data/meetings.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'meetings_log', FILENAME = N'/var/opt/mssql/data/meetings_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [meetings].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [meetings]
GO
/****** Object:  Table [dbo].[Meetings]    Script Date: 6/21/2023 1:13:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meetings](
	[MeetingId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [varchar](50) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Location] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Meetings] PRIMARY KEY CLUSTERED 
(
	[MeetingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Meetings] ([MeetingId], [Date], [Time], [Title], [Location]) VALUES (1, CAST(N'2024-08-15' AS Date), N'6:00 PM', N'August 2024 Agenda and public comment', N'E305')
INSERT [dbo].[Meetings] ([MeetingId], [Date], [Time], [Title], [Location]) VALUES (2, CAST(N'2024-08-19' AS Date), N'6:15 PM', N'August 2024 Agenda and public comment', N'E302')
INSERT [dbo].[Meetings] ([MeetingId], [Date], [Time], [Title], [Location]) VALUES (3, CAST(N'2024-08-20' AS Date), N'6:00 PM', N'Zoning Approval A', N'E100')
GO
USE [master]
GO
